.logo {
    width: 200px;
    height: auto;
    text-align: center;
    padding: 5px;
}

:host-context(.dark-theme) .logo {
    content: url("../../../assets/images/Dark-mode-logo.png");
    filter: none;
}
