.logo {
    height: 40px;
    width: auto;
    padding: 5px;
}

.blade-dark { fill: var(--primary-color); }
.blade-medium { fill: var(--primary-color); opacity: 0.65; }
.blade-light { fill: var(--primary-color); opacity: 0.5; }
.blade-lighter { fill: var(--primary-color); opacity: 0.45; }
